provider: agent
servers:
  server1:
    key: "http://user:password@host:port"
    tags:
      - project1

  server2:
    provider: kubernetes
    key: kubekey 
    tags:
      - project2

  server3:
    provider: webhook
    key: "http://user:password@host:port"
